{% extends 'app/main_page.html' %}



{% block content %}
    <div class="header-bar-login" style="height: 300px;">
        <h1 style="margin-left: 10px; margin-top: 300px; color: rgb(238,142,134)">Login</h1>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="Login">
        </form>

        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
{% endblock %}
